@model HomePageViewModel
<form asp-controller="HomePageCRUD" asp-action="edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.Name" class="control-label"></label>
        <input asp-for="@Model.Name" class="form-control" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <
    <div class="form-group">
        <div style="width: 600px;" class="imager-container" id="viewer1" name="files">
            @foreach (var item in Model.Images)
            {
                <label thumb-url='/uploads/homepagephotos/@item.FileName' image-id="@item.Id" @(item.IsMain == true ? "checked" : "")></label>
            }
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="Bazada Saxla" class="btn btn-success" />
    </div>

</form>
<a asp-controller="HomePageCRUD" asp-action="index" class="btn btn-primary">
    <spam>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
        </svg>
    </spam>Geriyə

</a>

@section addcss{
    <script src="https://kit.fontawesome.com/1154e1d6ee.js" crossorigin="anonymous"></script>
    <link href="~/libs/multiple-imager-js/css/imager.css" rel="stylesheet" />
}


@section addjs{
    <script src="~/libs/jquery/jquery.min.js"></script>

    <script src="~/libs/multiple-imager-js/js/imager.js"></script>

    <script>
        $('#viewer1').imgadd({
            tnWidth: '120px',
            tnHeight: '120px',
            fontSize: '55px',
            plusInnerHtml: '',
            plusBtnClass: undefined
        });
    </script>
}
